/* PPTelegraf */
@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-UltraLight.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PP Telegraf';
    src: url('PPTelegraf-UltraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

