@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/utils/fonts/font.css";


:root {
  --foreground-rgb: #FEFEFF;
  --color-rgb: #202022;
  --site-width: 682px;
}

body{
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--color-rgb));
  font-family: "PP Telegraf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img{
  height: 100%;
  width: 100%;
  display: block;
}

@layer components {
  .brite_wrapper {
    @apply container mx-auto px-4 max-w-[var(--site-width)];
  }

  /* links */
  .link{
    @apply text-[13px] leading-[20px] text-text-label font-medium hover:text-text-subdued;
  }

  .link.inert{
    @apply text-text-subdued
  }
}

/* the class hide-scroll is used to hide the scrollbar  */
html::-webkit-scrollbar,
.hide-scroll::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

html,
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@layer utilities {
  .site-link {
    text-wrap: balance;
  }
}
