@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/fonts/font.css";


:root {
  --foreground-rgb: #FEFEFF;
  --color-rgb: #202022;
  --site-width: 650px;
}

body{
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--color-rgb));
  font-family: "PP Telegraf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .brite_wrapper {
    @apply container mx-auto px-4 max-w-[var(--site-width)];
  }
}

/* the class hide-scroll is used to hide the scrollbar  */
html::-webkit-scrollbar,
.hide-scroll::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

html,
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
